name = "github_blog"
workers_dev = true

compatibility_date = "2022-01-20"

type="rust"

kv_namespaces = [
    { binding = "domains", id = "f7a1938bff8841e8a588eb7b50a232fc", preview_id = "547898a5745448bd81f91fc0fae93ec1" },
]

[vars]
WORKERS_RS_VERSION = "0.0.9"
CLOUDFLARE_ZONE_ID = "c96c9b355eaee37d02f76ffcb71f43b5"
CLOUDFLARE_TARGET = "https://api.cloudflare.com/client/v4"

[build]
command = "cargo install -q worker-build && worker-build --release"

[build.upload]
format = "modules"
dir = "build/worker"
main = "./shim.mjs"

[[build.upload.rules]]
type = "CompiledWasm"
globs = ["**/*.wasm"]

[durable_objects]
bindings = []

[miniflare]
durable_objects_persist = true
kv_persist = true
watch = true
env_path=".dev.vars"
