name = "github_blog"
workers_dev = true

main = "build/worker/shim.mjs"
compatibility_date = "2022-01-20"

type="rust"

kv_namespaces = [
    { binding = "domains", id = "f7a1938bff8841e8a588eb7b50a232fc", preview_id = "547898a5745448bd81f91fc0fae93ec1" },
    { binding = "auth_tokens", id = "3a264f192d1f4eb69253aa85877b48eb", preview_id = "5bd5dc6353e04e7face63e3855ba99c2" }
]

[vars]
WORKERS_RS_VERSION = "0.0.9"

[build]
command = "cargo install -q worker-build && worker-build --release"

[build.upload]
format = "modules"
dir = "build/worker"
main = "./shim.mjs"

[[build.upload.rules]]
type = "CompiledWasm"
globs = ["**/*.wasm"]

[durable_objects]
bindings = [
    { name = "REFERRAL_CODE", class_name = "ReferralToken" }
]

[miniflare]
durable_objects_persist = true
kv_persist = true
watch = true
env_path=".dev.vars"
